# Token gerado no Cloudflare Zero Trust para este Tunnel.
CLOUDFLARE_TUNNEL_TOKEN=eyJhIjoiODY0NDNhZWNmMGJjNWViMDU1YjY2MWU3YjdjNDFmMDIiLCJ0IjoiNGZmMjFmZjgtZTIyNi00ZDNhLWI1ZGYtYWM4ZmViNTUxYzVkIiwicyI6Ik5tUmlOVGRqTkdJdE56VTNOQzAwWmpFMkxUZ3hObUV0TTJFNFlqQTJNalUxTURjdyJ9
